* {
    box-sizing: border-box;
}

body {
    font-family: Cochin, Cambria, Georgia, Times, Times New Roman, serif;
    font-size: 1.4rem;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

/* === Headings. =================== */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    padding: 0;
    font-size: 2.2rem;
    text-align: center;
}
h2 {
    padding: 0;
    font-size: 2.2rem;
}
h3 {
    float: left;
    width: 100%;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #00b7ffb6;
}
h4 {
    padding: 0;
    font-size: 2.2rem;
    text-align: left;
}

.header {
    padding: 0;
    font-size: 3.2rem;
    text-align: center;
    background: #f1f1f1;
}

/* Menu elements. */
.tab {
    font-size: 1.5rem;
    color: #69ff93;
    display: inline;
    text-align: center;
    background-color: rgb(26, 26, 26);
    margin-right: 1rem;
    padding: 12px 12px;
}
.tab:hover {
    color: #15ff39;
    background-color: rgb(67, 100, 10);
}

.menu, nav {
    padding: 1rem 1rem;
    margin: -10px;
    border: 0;
    background-color: rgb(0, 0, 0);
    text-align: center;
    text-decoration-color: #f1f1f1;
}
.menu, nav, pagesHeader {
    padding: 0.5rem;
    margin: -8px;
    background-color: rgb(26, 26, 26);
    text-align: center;
    text-decoration-color: #f1f1f1;
}
.menu browse {
    display: inline;
    text-align: center;
    margin-right: 1rem;
    padding: 0.25rem;
}
.menu a {
    text-decoration: none;
    color: #00ff2a;
}

/* The two main columns of the page display. */
.leftColumn {
    float: left;
    padding: 0.6rem;
    width: 50%;
}
.rightColumn {
    float: left;
    width: 50%;
    padding: 0.6rem 0.6rem 0.6rem 20px;
}

.rubric {
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
}

/* Styling list elements. */
ul {
    margin: 0;
    padding: 0;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 9px 12px 35px;
    background: #e0e0e0;
    font-size: 16px;
}
ul li.checked {
    background: rgb(117, 117, 117);
    color: #f1f1f1;
    text-decoration: line-through;
}
ul li:hover {
    background: rgb(199, 199, 199);
}

.check {
    width: 7%;
}

.header {
    background-color: #303030;
    padding: 30px 40px;
    text-align: center;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}

#list-input {
    padding: 15px 25px;
    width: 80%;
    text-align: center;
}

#array-rubric {
    text-align: center;
}
#array-rubric:after {
    content: "";
    display: table;
    clear: both;
}

.menuHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 50px;
    text-align: center;
}
.menuHeader:after {
    content: "";
    display: table;
    clear: both;
}

input {
    float: left;
    padding: 12px;
    width: 85%;
    margin: 0;
    font-size: 16px;
}

#calculator-input {
    display: flex;
    flex-flow: row wrap;
    float: left;
    padding: 12px;
    width: 100%;
    margin: 0;
    font-size: 16px;
}

#button-container {
    display: flex;
    background-color: #303030;
    padding: 15px 25px;
    text-align: center;
}
#button-container:after {
    content: "";
    display: table;
    clear: both;
}

#array-container {
    padding: 12px 12px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: space-around;
}
#array-container:after {
    content: "";
    display: table;
    clear: both;
}

array {
    padding: 8px 16px;
    background: #ddefff;
    color: rgb(49, 46, 46);
    cursor: pointer;
    font-size: 16px;
}
array:hover {
    background-color: #bbb;
}

/* =============================== BUTTONS ================================== */
.addEntryButton {
    float: left;
    text-align: center;
    padding: 16px 10px;
    width: 20%;
    background: #9be1ff;
    color: rgb(49, 46, 46);
    cursor: pointer;
    font-size: 16px;
}

.addEntryButton:hover {
    background-color: #c7c7c7;
}

#array-buttons {
    padding: 12px 12px;
    background-color: #303030;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}
#array-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.genericButton {
    float: left;
    text-align: center;
    margin: 1px;
    padding: 12px;
    background: #f1f1f1;
    color: rgb(49, 46, 46);
    cursor: pointer;
    font-size: 16px;
}

.genericButton:hover {
    background-color: #bbb;
}

.minimiseButton {
    float: left;
    text-align: center;
    padding: 0;
    width: 8%;
    background: #ffd5d5;
    color: rgb(49, 46, 46);
    cursor: pointer;
    font-size: 18px;
}
.computeButton {
    float: left;
    text-align: center;
    padding: 12px;
    width: 8%;
    background: rgb(12, 179, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
}
.computeButton:hover {
    background-color: #00b7ff;
}

.resetButton {
    float: left;
    text-align: center;
    padding: 12px;
    width: 6%;
    background: rgb(53, 144, 166);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
}
.resetButton:hover {
    background-color: #ff7f76;
}